{% include 'header.html' %}


<div class="col-md-6">
    <div class="card-body">
        <h4 class="card-title">Folders</h4>
        <div class="template-demo">
            {% for each in folder_names %}
            <a type="button" class="btn btn-secondary" href="/Folder/{{each['id']}}">{{ each['name'] }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Folder Form</h4>


            <form class="forms-sample" action="/Folders" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputUsername1">kind of folder</label>
                        <select class="js-example-basic-single w-100 select2-hidden-accessible" name="file_or_folder" data-select2-id="1" tabindex="-1" aria-hidden="true">
                        <option value="Folder" data-select2-id="3">Folder</option>
                        <option value="File" data-select2-id="3">File</option>
                        </select>
                    </div>

                    <label for="exampleInputUsername1">Folder or File name</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="Folder_or_File_name" placeholder="like my computer">
                </div>
<!--                <div class="form-group">-->
<!--                    <textarea rows = "10" cols = "70" name = "file_content", placeholder="..."></textarea>-->
<!--                </div>-->
                <div class="input-group col-xs-12">
                    <input type="file" class="form-control file-upload-info" placeholder="Upload Image" name="file" multiple>
                </div>
                <div class="form-group">
                        <label for="exampleInputUsername1">Top Folder</label>

                        <select class="js-example-basic-single w-100 select2-hidden-accessible" name="Top_Folder" data-select2-id="1" tabindex="-1" aria-hidden="true">
<!--                            <option value={{[]}} data-select2-id="3">      </option>-->
                            <option value='[]' data-select2-id="3">... </option>
                            {% for each in folder_names %}
                                <option value="{{each['id']}}" data-select2-id="3">{{ each['name'] }}</option>
                            {% endfor %}
                        </select>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>


{% include 'footer.html' %}