{% include 'header.html' %}
<div class="main-panel">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Project Info</h4>
                    <!--                  <p class="card-description">-->
                    <!--                    Add tags <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> or class <code>.h1</code> to <code>.h6</code>-->
                    <!--                  </p>-->
                    <div class="template-demo">
                        <h1>{{project['name']}}</h1>
                        <h2>{{project['Created_at']}}</h2>
                        <a type="button" class="btn btn-danger" href="/projectsdel/{{project['id']}}">Delete
                            Project </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">experiment form</h4>
                    <p class="card-description">
                        add a experiment
                    </p>
                    <form class="forms-sample" action="/experiment" method="post">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" name="experimentName"
                                   placeholder="Experiment Name">
                            <input type="hidden" class="form-control" name="projectId" value="{{project['id']}}">
                        </div>

                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Table</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Page</th>
                                <th>Created</th>
<!--                                <th>Status</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            {% for each in experiments %}
                            <tr>
                                <td>{{ each['name']}}</td>
                                <td><a href="/experiment/{{each['id']}}"><button type="button" class="btn btn-outline-info btn-fw">Info</button></a></td>
                                <td>{{each['Created at']}}</td>
<!--                                <td><label class="badge badge-danger">Pending</label><label class="badge badge-warning">Pending</label></td>-->
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}
