{% include 'header.html' %}

<div class="col-md-6">
    <div class="card-body">
        <h4 class="card-title">projects</h4>
        <div class="template-demo">
            {% for each in userProjects %}
            <a type="button" class="btn btn-secondary" href="/projects/{{each['id']}}">{{ each['name'] }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Project Form</h4>

            <form class="forms-sample" action="/projects" method="post">
                <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="projectName" placeholder="Project Name ex : Moon Lander">
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>

{% include 'footer.html' %}
