<!--#started by pouria - date : 6/2/2022-->
{% include 'header.html' %}


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">New Standard Form</h4>

            <form class="forms-sample" action="/projects_standard" method="post">
                <div class="form-group">
                    <label>Standard Name</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="standard_name" placeholder="Standard Name">
                </div>

                <div class="form-group">
                    <label>Standard Content</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" name="standard_content" placeholder="Standard Content">
                </div>

                <div class="form-group" data-select2-id="7">
                    <label>Project Name</label>
                    <select class="js-example-basic-single w-100 select2-hidden-accessible" name="project_id" data-select2-id="1" tabindex="-1" aria-hidden="true">
                        {% for each in userProjects %}
                      <option value="{{each['id']}}" data-select2-id="3">{{each['name']}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">


    <div class="card-body">
        <h4 class="card-title">Standards</h4>
        <div class="template-demo">
            {% for each in standard %}
<!--            <a type="button" class="btn btn-secondary" href="/projects/{{each['id']}}">{{ each['Standard_name'] }}</a>-->
            <h3>{{each['Standard_name']}}</h3>
            <p>{{each['Content']}}</p>
            <a type="button" class="btn btn-danger" href="{{ url_for('delete_standards' ,id=each['id']) }}">Delete</a>
            <a type="button" class="btn btn-primary me-2" href="/update_standard/{{each['id']}}">Update Device </a>
            {% endfor %}
        </div>

    </div>


    </div>
</div>


{% include 'footer.html' %}
<!--#ended by pouria - date : 6/2/2022-->